.Box {
  display: flex;
  margin: 1rem;
  gap: 2rem;
  justify-content: center;
}

.FormControl {
  min-width: 11.25rem !important;
  max-width: max-content;
}

.MuiChip-root {
  border-radius: 10 !important;
}

.pageTitle {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 200;
  font-family: lexend500 !important;
}

.pageTitleCtn {
  position: relative;
  left: 50%;
  width: max-content;
  /* background-color: red; */
  transform: translateX(-50%);
  margin: 2rem 0 1rem 0;
}

.pageTitleCtn h1 {
  display: inline;
}

.nosOfJobs {
  background-color: rgb(25, 118, 210);
  color: #fff;
  font-size: 0.75rem;
  padding: 0.5rem;
  border-radius: 50px;
  top: -10px;
  min-width: 2.25rem;
  position: relative;
  display: inline-block;
  text-align: center;
}

.selfIntro {
  text-align: center;
  font-size: 0.8rem;
  font-family: lexend500 !important;
}

@media screen and (max-width: 1371px) {
  .Box {
    flex-wrap: wrap;
  }
  .FormControl {
    max-width: 22rem;
  }
}
