@font-face {
  font-family: lexend400;
  src: url("../fonts/lexend400.ttf");
}

@font-face {
  font-family: lexend500;
  src: url("../fonts/lexend500.ttf");
}

@font-face {
  font-family: lexend600;
  src: url("../fonts/lexend600.ttf");
}

@font-face {
  font-family: lexend700;
  src: url("../fonts/lexend700.ttf");
}
